.Layout {
    display: grid;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    height: auto;
    /* flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: stretch; */


}

@media (min-height: 300px) and (max-height:500px) {
    .Layout{
        height: 1000px;
    }

}
