.member-card {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    border-bottom: 1px solid black;
    align-items: center;
    flex-wrap: wrap;
}

.welcome-card {
    max-width: 500px;
    background-color: red;
}

.muitrans:hover{
    

}
